// 颜色
$c-bg = #222
$c-bg-d = rgba(0,0,0,.3)
$c-bg-h = #333
$c-bg-dialog = #666
$c-theme = #ffcd32
$c-theme-d = rgba(255,205,49,.5)
$c-theme-sub = #d93f30
$c-text = #fff
$c-text-d = rgba(255,255,255,.3)
$c-text-l = rgba(255,255,255,.5)
$c-text-hl = rgba(255,255,255,.8)

//字体
$f-s = 10px
$f-xs = 12px
$f-m = 14px
$f-xm = 16px
$f-l = 18px
$f-xl = 22px

